deploy_duration: 1200
zabbix:
  endpoint: https://monitor.evilmartians.com/api_jsonrpc.php
  username: root
  password: adm1n
projects:
  projectone:
    token: foobar
    hosts:
      - 1
      - 2
  projecttwo:
    token: foobar2
    hosts:
      - 3
      - 4
      - 5
